.section-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 100px;
    justify-items: center;

    .section-data{
      margin: 5px 0;
      .text-align {
        bottom: 5px;
        position: relative;
        margin: 0 5px;
        font-weight: 500;
      }
  }
}